<!DOCTYPE html>
<html layout:decorator="layouts/basic_layout">
<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
	<link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

	<!--/* Content of this page will be decorated by the elements of basic_layout.html (layouts/basic_layout) */-->
	<div layout:fragment="content">

		<div class="hero-unit">
			<h1>E-Learning</h1>
			<p>
				Welcome to the e-learning application!
			</p>
		</div>

	</div>
</body>
</html>