<!DOCTYPE html>

<html lang="en">

	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Layout title</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
	    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
		<link href="../../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
	    
		<!-- javascript resources -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script src="../../../../resources/js/knockout.js" th:src="@{/resources/js/knockout.js}"></script>
	</head>

	
	<body>

		<!-- container -->
		<div class="container">
		
			<!-- header -->
			<!--/* Standard layout can be mixed with Layout Dialect */-->
			<div th:replace="fragments/header :: header">
			    <!-- ============================================================================ -->
			    <!-- This content is only used for static prototyping purposes (natural templates)-->
			    <!-- and is therefore entirely optional, as this markup fragment will be included -->
			    <!-- from "fragments/header.html" at runtime.                                     -->
			    <!-- ============================================================================ -->
	
				<!-- navbar navbar-default -->
				<div class="navbar navbar-default" role="navigation">
				
					<!-- navbar-header -->
					<div class="navbar-header">
						
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					
						<span class="navbar-brand">Responsive Demo</span>
					</div><!-- /navbar-header -->
				
					<!-- navbar -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</div><!-- /navbar -->
				
				</div><!-- /navbar navbar-default -->
			    
			</div><!-- /header -->
			
			<!-- content -->
			<div layout:fragment="content">
				<!-- ============================================================================ -->
		        <!-- This content is only used for static prototyping purposes (natural templates)-->
		        <!-- and is therefore entirely optional, as this markup fragment will be included -->
		        <!-- from "fragments/header.html" at runtime.                                     -->
		        <!-- ============================================================================ -->
				
				<!-- row -->
				<div class="row">
					
					<!-- col-xs-6 -->
					<div class="col-xs-6">
						<article>
							<header>
								<p>List of courses (by Thymeleaf)</p>
							</header>
							<footer class="hidden-xs">
								<p>This is a list of courses loaded in web module and displayed with Thymeleaf.</p>
							</footer>
							<content>
								<ul>
									<li><a href="#">Course 1</a></li>
									<li><a href="#">Course 2</a></li>
									<li><a href="#">Course 3</a></li>
									<li><a href="#">Course 4</a></li>
								</ul>
							</content>					
						</article>
					</div><!-- /col-xs-6 -->
					
					<!-- col-xs-6 -->
					<div class="col-xs-6">
						<article>
							<header>
								<p>List of courses (by REST)</p>
							</header>
							<footer class="hidden-xs">
								<p>This is a list of courses loaded by a rest call to the rest project.</p>
							</footer>
							<content>
								<ul>
									<li><a href="#">Course 1</a></li>
									<li><a href="#">Course 2</a></li>
									<li><a href="#">Course 3</a></li>
									<li><a href="#">Course 4</a></li>
								</ul>
							</content>					
						</article>
					</div><!-- /col-xs-6 -->
					
				</div><!-- /row -->
				
				<!-- row -->
				<div class="row hidden-xs text-row">
				
					<!-- col-sm-6 col-lg-3 -->
					<div class="col-sm-6 col-lg-3">
						<!-- panel panel-default -->
						<div class="panel panel-default">
							<!-- panel-body -->
							<div class="panel-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div><!-- panel-body -->
						</div><!-- /panel panel-default -->
					</div><!-- /col-sm-6 col-lg-3 -->
					
					<!-- col-sm-6 col-lg-3 -->
					<div class="col-sm-6 col-lg-3">
						<!-- panel panel-default -->
						<div class="panel panel-default">
							<!-- panel-body -->
							<div class="panel-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div><!-- panel-body -->
						</div><!-- /panel panel-default -->
					</div><!-- /col-sm-6 col-lg-3 -->
					
					<!-- col-sm-6 col-lg-3 -->
					<div class="col-sm-6 col-lg-3">
						<!-- panel panel-default -->
						<div class="panel panel-default">
							<!-- panel-body -->
							<div class="panel-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div><!-- panel-body -->
						</div><!-- /panel panel-default -->
					</div><!-- /col-sm-6 col-lg-3 -->
					
					<!-- col-sm-6 col-lg-3 -->
					<div class="col-sm-6 col-lg-3">
						<!-- panel panel-default -->
						<div class="panel panel-default">
							<!-- panel-body -->
							<div class="panel-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div><!-- panel-body -->
						</div><!-- /panel panel-default -->
					</div><!-- /col-sm-6 col-lg-3 -->
					
				</div><!-- /row -->
				
				<!-- row -->
				<div class="row hidden-xs text-row">
				
					<!-- col-xs-3 -->
					<div class="col-xs-3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div><!-- /col-xs-3 -->
					
					<!-- col-xs-3 -->
					<div class="col-xs-3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div><!-- /col-xs-3 -->
					
					<!-- col-xs-3 -->
					<div class="col-xs-3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div><!-- /col-xs-3 -->
					
					<!-- col-xs-3 -->
					<div class="col-xs-3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div><!-- /col-xs-3 -->
					
				</div><!-- /row -->
				
				<!-- row -->
				<div class="row">
				
					<!-- col-xs-12 -->
					<div class="col-xs-12 visible-xs">
						<p><strong>Lot of text has been hidden for mobile devices due to the narrowed screens.</strong></p>
					</div><!-- /col-xs-12 -->
				
				</div><!-- /row -->
				
			</div><!-- /content -->
			
		</div><!-- /container -->
		
		<!-- footer -->
		<div id="footer" th:replace="fragments/footer :: footer">
			<footer class="footer">
			  <div class="container">
				<p class="text-muted">E-learning 2015</p>
			  </div>
			</footer>
		</div><!-- /footer> -->

	</body>
</html>