<!DOCTYPE html>

<html lang="en">


	<head>
	    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
	    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Layout title</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>
	
	<body class="body">
	
		<!-- Navbar -->
		<header class="mainHeader">
		
			<img src="../../../../resources/images/courses.jpg"/>

			<nav>
				<ul>
					<li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/}">Home</a></li>
		            <li th:classappend="${page == 'courses' ? 'active' : ''}"><a href="#" th:href="@{/courses}">Courses</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			
		</header>

	</body>
</html>