<!DOCTYPE html>
<html layout:decorator="layouts/basic_layout" lan="en">
	
	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Layout title</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
	    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
		<link href="../../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
	    
		<!-- javascript resources -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script src="../../../../resources/js/knockout.js" th:src="@{/resources/js/knockout.js}"></script>
		<script src="../../../../resources/js/courseViewModel.js" th:src="@{/resources/js/courseViewModel.js}"></script>
	</head>
	
	
	<body>
	
		<!-- content -->
		<!--/* Content of this page will be decorated by the elements of basic_layout.html (layouts/basic_layout) */-->
		<div layout:fragment="content">
		
			<!-- row -->
			<div class="row">
				
				<!-- col-xs-6 -->
				<div class="col-xs-6">
					<article class="list-courses">
						<header>
							<p>List of courses (by Thymeleaf)</p>
						</header>
						<footer class="hidden-xs">
							<p>This is a list of courses loaded in web module and displayed with Thymeleaf.</p>
						</footer>
						<content th:unless="${#lists.isEmpty(courses)}">
							<ul>
								<li th:each="course : ${courses}">
									<a href="#" th:text="${course.courseTopic}">Course 1</a>
								</li>
							</ul>
						</content>
					</article>
				</div><!-- /col-xs-6 -->
				
				<!-- col-xs-6 -->
				<div class="col-xs-6">
					<article class="list-courses">
						<header>
							<p>List of courses (by REST)</p>
							restAccessToken= 
							<input id="restAccessToken" th:value="${@oauth2RestTemplateClientCredentials.getAccessToken().getValue()}" />
						</header>
						<footer class="hidden-xs">
							<p>This is a list of courses loaded by a rest call to the rest project.</p>
						</footer>
						<content data-bind="foreach: courseList">
							<ul>
								<li>
									<a href="#" data-bind="text: courseTopic">Course 1</a>
								</li>
							</ul>
						</content>
					</article>
				</div><!-- /col-xs-6 -->
				
			</div><!-- /row -->
			
			<!-- row -->
			<div class="row">
				
				<!-- col-xs-12 -->
				<div class="col-xs-12">
					<!-- panel panel-default -->
					<div class="panel panel-default">
						<!-- panel-body -->
						<div class="panel-body">
						
							<article>
								<header>
									<p>Add new Course</p>
								</header>
								<content class="new-course-content">
									<form action="#" th:action="@{/courses}" th:object="${course}" method="post">
										<ul th:if="${#fields.hasErrors('*')}" class="errors">
											<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
										</ul>
										<div>
											<label for="courseTopic"><span>Course Topic</span></label>
											<input type="text" th:field="*{courseTopic}"/>
										</div>
										<div class="submit">
											<button type="submit" name="add" class="btn  btn-primary">Add Course</button>
										</div>
									</form>
								</content>
							</article>
						
						</div><!-- panel-body -->
					</div><!-- /panel panel-default -->
				</div><!-- /col-xs-12 -->
				
			</div><!-- /row -->
			
			<!-- row -->
			<div class="row hidden-xs text-row">
			
				<!-- col-sm-6 col-lg-3 -->
				<div class="col-sm-6 col-lg-3">
					<!-- panel panel-default -->
					<div class="panel panel-default">
						<!-- panel-body -->
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- panel-body -->
					</div><!-- /panel panel-default -->
				</div><!-- /col-sm-6 col-lg-3 -->
				
				<!-- col-sm-6 col-lg-3 -->
				<div class="col-sm-6 col-lg-3">
					<!-- panel panel-default -->
					<div class="panel panel-default">
						<!-- panel-body -->
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- panel-body -->
					</div><!-- /panel panel-default -->
				</div><!-- /col-sm-6 col-lg-3 -->
				
				<!-- col-sm-6 col-lg-3 -->
				<div class="col-sm-6 col-lg-3">
					<!-- panel panel-default -->
					<div class="panel panel-default">
						<!-- panel-body -->
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- panel-body -->
					</div><!-- /panel panel-default -->
				</div><!-- /col-sm-6 col-lg-3 -->
				
				<!-- col-sm-6 col-lg-3 -->
				<div class="col-sm-6 col-lg-3">
					<!-- panel panel-default -->
					<div class="panel panel-default">
						<!-- panel-body -->
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- panel-body -->
					</div><!-- /panel panel-default -->
				</div><!-- /col-sm-6 col-lg-3 -->
				
			</div><!-- /row -->
			
			<!-- row -->
			<div class="row hidden-xs text-row">
			
				<!-- col-xs-3 -->
				<div class="col-xs-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- /col-xs-3 -->
				
				<!-- col-xs-3 -->
				<div class="col-xs-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- /col-xs-3 -->
				
				<!-- col-xs-3 -->
				<div class="col-xs-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- /col-xs-3 -->
				
				<!-- col-xs-3 -->
				<div class="col-xs-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- /col-xs-3 -->
				
			</div><!-- /row -->
			
			<!-- row -->
			<div class="row">
			
				<!-- col-xs-12 -->
				<div class="col-xs-12 visible-xs">
					<p><strong>Lot of text has been hidden for mobile devices due to the narrowed screens.</strong></p>
				</div><!-- /col-xs-12 -->
			
			</div><!-- /row -->
		
		</div><!-- /content -->
	
	</body>
	
</html>

