<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>e-learning</contextName>
	
	<logger name="com.elarning" level="INFO"/>
	
	
	
	<root level="INFO">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} | %-5level | %thread | %logger{1} | %m%n</pattern>
            </encoder>
        </appender>
    </root>
	
	
	

<!-- 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> -->
<!-- 		<encoder> -->
<!-- 			<pattern> -->
<!-- 				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - -->
<!-- 				%msg%n -->
<!-- 			</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

<!-- 	<jmxConfigurator /> -->

<!-- 	<root level="INFO"> -->
<!-- 		<appender-ref ref="STDOUT" /> -->
<!-- 	</root> -->



</configuration>