<!DOCTYPE html>

<html layout:decorator="layouts/basic_layout" lan="en">
	
	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Layout title</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
	    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
		<link href="../../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
		<link href="../../../../resources/css/signin.css" rel="stylesheet" media="screen" th:href="@{/resources/css/signin.css}"/>
		<link href="../../../../resources/css/social-buttons-3.css" rel="stylesheet" media="screen" th:href="@{/resources/css/social-buttons-3.css}"/>
		<link href="../../../../resources/css/bootstrap-theme.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.css}"/>
	    
		<!-- javascript resources -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script src="../../../../resources/js/knockout.js" th:src="@{/resources/js/knockout.js}"></script>
	</head>
	
	<body>
	
		<!-- content -->
		<!--/* Content of this page will be decorated by the elements of basic_layout.html (layouts/basic_layout) */-->
		<div layout:fragment="content">
		
			<!-- row -->
			<div class="row">
					
				<form class="form-signin" th:action="@{/login/authenticate}" method="POST">
				
					<div th:if="${param.error}" class="alert alert-error">
	                    Invalid username and password.
	                </div>
	                <div th:if="${param.logout}" class="alert alert-success">
	                    You have been logged out.
	                </div>
				
			        <h2 class="form-signin-heading">Please sign in</h2>
			        <label for="username" class="sr-only">Email address</label>
			        <input type="email" id="username" name="username" class="form-control" placeholder="Email address" required="true" autofocus="true"/>
			        <label for="password" class="sr-only">Password</label>
			        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true"/>
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" value="remember-me"> Remember me</input>
			          </label>
			        </div>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		      </form>
		      
			</div><!-- /row -->
			
			<!-- row -->
			<div class="row">
                <div class="form-group col-lg-4">
                    <a th:href="@{/signup}" href="/signup">Create user account</a>
                </div>
            </div><!-- /row -->
            
           <!-- row -->
		   <div class="row">
            	<div class="panel panel-default">
			        <div class="panel-body">
			            <h2>Sign in by using social provider</h2>
			            <div class="row social-button-row">
			                <div class="col-lg-4">
			                
			                	<form class="form-signin" th:action="@{/auth/facebook}" method="POST">
			                		<input type="hidden" name="scope" value="email" />
			                		<button class="btn btn-facebook" type="submit"><i class="icon-facebook"></i> | Sign in with Facebook</button>
			                	</form>
			                
			                </div>
			            </div>
			            <div class="row social-button-row">
			                <div class="col-lg-4">
			                	<form class="form-signin" th:action="@{/auth/twitter}" method="POST">
			                		<input type="hidden" name="scope" value="" />
			                		<button class="btn btn-twitter" type="submit"><i class="icon-twitter"></i> | Sign in with Twitter</button>
			                	</form>
			                </div>
			            </div>
			            <div class="row social-button-row">
			                <div class="col-lg-4">
			                	<form class="form-signin" th:action="@{/auth/linkedin}" method="POST">
			                		<input type="hidden" name="scope" value="" />
			                		<button class="btn btn-linkedin" type="submit"><i class="icon-linkedin"></i> | Sign in with Linkedin</button>
			                	</form>
			                </div>
			            </div>
			        </div>
			    </div>
            </div><!-- /row -->
		
		</div> <!-- /content -->
	
	</body>
	
</html>