<!DOCTYPE html>
<html layout:decorator="layouts/basic_layout" lan="en">
	
	<head>
		<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Foo</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- CSS resources -->
	    <link href="../../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
		<link href="../../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
	    
		<!-- javascript resources -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="../../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
		<script src="../../../../resources/js/knockout.js" th:src="@{/resources/js/knockout.js}"></script>
	</head>
	
	
	<body>
	
		<!-- content -->
		<!--/* Content of this page will be decorated by the elements of basic_layout.html (layouts/basic_layout) */-->
		<div layout:fragment="content">
		
			<!-- row -->
			<div class="row">
				
				<!-- col-xs-12 -->
				<div class="col-xs-12">
					<article class="list-courses">
						<header>
							<p>Foos</p>
						</header>
						<footer class="hidden-xs">
							<p>This is a list of foos</p>
						</footer>
						<content th:unless="${#lists.isEmpty(foos)}">
							<ul>
								<li th:each="foo : ${foos}">
									<span th:text="${foo.name}">Fooooo 1</span>
									<p th:text="${foo.description}">Foo Description.</p>
								</li>
							</ul>
						</content>
					</article>
				</div><!-- /col-xs-6 -->
				
			</div><!-- /row -->
			
		
		</div><!-- /content -->
	
	</body>
	
</html>

